# Archivos y carpetas de configuración locales de Qt Creator
.qtcreator/
*.user
*.user.*

# Directorios de compilación (Out-of-source builds)
build/
build-*/
bin/

# Archivos generados directamente por CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Archivos de configuración locales de Qt Creator
*.user
*.user.*

# Archivos compilados, objetos y binarios
*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a

# Archivos ocultos del Sistema Operativo
.DS_Store
Thumbs.db